.div {
  background-color: #e1dfdd;
  min-height: 100vh;
  display: flex;
}
@media (width<=640px) {
  .div {
    flex-direction: column;
  }
}
.div2 {
  background-color: #907e6c;
  width: 435px;
  padding-top: 17px;
}
@media (width<=991px) {
  .div2 {
    width: 300px;
  }
}
@media (width<=640px) {
  .div2 {
    width: 100%;
    padding-bottom: 20px;
  }
}
.logo {
  width: 130px;
  height: 119px;
  margin-left: 21px;
}
.nav {
  margin-top: 16px;
}
@media (width<=640px) {
  .nav {
    display: none;
  }
}
.div3 {
  color: #fff;
  height: 121px;
  padding: 40px 97px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
}
@media (width<=991px) {
  .div3 {
    padding: 30px 40px;
    font-size: 24px;
  }
}
.div4 {
  color: #fff;
  height: 121px;
  padding: 40px 97px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
}
@media (width<=991px) {
  .div4 {
    padding: 30px 40px;
    font-size: 24px;
  }
}
.div5 {
  color: #fff;
  height: 121px;
  padding: 40px 97px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
}
@media (width<=991px) {
  .div5 {
    padding: 30px 40px;
    font-size: 24px;
  }
}
.div6 {
  color: #fff;
  height: 121px;
  padding: 40px 97px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
}
@media (width<=991px) {
  .div6 {
    padding: 30px 40px;
    font-size: 24px;
  }
}
.div7 {
  color: #fff;
  height: 121px;
  padding: 40px 97px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
}
@media (width<=991px) {
  .div7 {
    padding: 30px 40px;
    font-size: 24px;
  }
}
.div8 {
  flex: 1;
}
@media (width<=640px) {
  .div8 {
    min-height: 0;
  }
}
.div9 {
  background-color: #faf9f8;
  justify-content: flex-end;
  align-items: center;
  height: 145px;
  padding: 35px;
  display: flex;
}
.div10 {
  margin-right: 37px;
}
.div11 {
  padding: 40px 128px;
}
@media (width<=991px) {
  .div11 {
    padding: 40px;
  }
}
@media (width<=640px) {
  .div11 {
    padding: 20px;
  }
}
.div12 {
  color: #322e29;
  margin-bottom: 30px;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 36px;
}
@media (width<=640px) {
  .div12 {
    text-align: center;
    font-size: 24px;
  }
}
.div13 {
  color: #322e29;
  margin-bottom: 50px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
}
@media (width<=640px) {
  .div13 {
    text-align: center;
    font-size: 24px;
  }
}
.div14 {
  background-color: #fff;
  border-radius: 35px;
  margin-bottom: 40px;
  padding: 36px;
}
@media (width<=991px) {
  .div14 {
    padding: 25px;
  }
}
@media (width<=640px) {
  .div14 {
    padding: 15px;
  }
}
.div15 {
  color: #000;
  margin-bottom: 20px;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 34px;
}
@media (width<=640px) {
  .div15 {
    font-size: 28px;
  }
}
.div16 {
  margin-bottom: 30px;
}
.div17 {
  color: #000;
  margin-bottom: 12px;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 20px;
}
@media (width<=640px) {
  .div17 {
    font-size: 18px;
  }
}
.div18 {
  color: #000;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 16px;
  font-style: italic;
}
.div19 {
  margin-bottom: 30px;
}
.div20 {
  color: #000;
  margin-bottom: 12px;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 20px;
}
@media (width<=640px) {
  .div20 {
    font-size: 18px;
  }
}
.div21 {
  color: #000;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 16px;
  font-style: italic;
}
.div22 {
  margin-bottom: 30px;
}
.div23 {
  color: #000;
  margin-bottom: 12px;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 20px;
}
@media (width<=640px) {
  .div23 {
    font-size: 18px;
  }
}
.div24 {
  color: #000;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 16px;
  font-style: italic;
}
.div25 {
  margin-bottom: 30px;
}
.div26 {
  color: #000;
  margin-bottom: 12px;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 20px;
}
@media (width<=640px) {
  .div26 {
    font-size: 18px;
  }
}
.div27 {
  color: #000;
  font-family:
    Tiro Devanagari Hindi,
    serif;
  font-size: 16px;
  font-style: italic;
}
.div28 {
  text-align: right;
  color: #322e29;
  cursor: pointer;
  margin-bottom: 40px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
}
.span {
  margin-left: 8px;
}
.button {
  color: #faf9f8;
  cursor: pointer;
  background-color: #433c33;
  border: none;
  border-radius: 50px;
  width: 360px;
  height: 68px;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
  font-size: 26px;
}
@media (width<=640px) {
  .button {
    width: 100%;
    font-size: 22px;
  }
}