.pageContainer {
  background-color: #e1dfdd;
  flex-grow: 1;
  margin-left: 350px;
  padding-top: 116px;
  width: calc(100% - 350px);
  height: 100vh;

}

.completeStatus {
  color: #322e29;
  padding-left: 100px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: "Montaga", serif;
  font-size: 30px;
}

@media (width<=640px) {
  .completeStatus {
    text-align: center;
    font-size: 24px;
  }
}

.regCount {
  color: #322e29;
  margin-top:30px;
  padding-left: 100px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
}

@media (width<=640px) {
  .regCount {
    text-align: center;
    font-size: 24px;
  }
}
.regContainer {
  margin-left: 100px;
  margin-right: 75px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 35px;
  padding: 36px;
  height: 360px;
  overflow: hidden;
  overflow-y: auto;
}
@media (width<=991px) {
  .regContainer {
    padding: 25px;
  }
}
@media (width<=640px) {
  .regContainer {
    padding: 15px;
  }
}

.regType {
  color: #000;
  margin-bottom: 20px;
  font-family: Tiro Devanagari Hindi, serif;
  font-size: 25px;
}

@media (width<=640px) {
  .div15 {
    font-size: 25px;
  }
}

.article {
  margin-bottom: 10px;
}

.regText {
  color: #000;
  padding-left: 10px;
  margin-bottom: 6px;
  font-family: Tiro Devanagari Hindi, serif;
  font-size: 18px;
}
@media (width<=640px) {
  .regText {
    font-size: 18px;
  }
}

.regCite {
  color: #000;
  font-family: Tiro Devanagari Hindi, serif;
  font-size: 16px;
  font-style: italic;
  padding-left: 10px;
}

.viewReport {
  text-align: right;
  color: #322e29;
  cursor: pointer;
  margin-bottom: 40px;
  padding-right: 100px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

.downloadButton {
  color: white;
  cursor: pointer;
  background-color: #433c33;
  border: none;
  padding: 10px;
  border-radius: 50px;
  width: 270px;
  height: 50px;
  margin-left: 100px;
  transition: 0.3s;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.downloadButton:hover {
  background-color: #322e29;
}
@media (width<=640px) {
  .downloadButton {
    margin-right: 20px;
    font-size: 18px;
  }
}