.signupContainer {
  display: flex;
  min-height: 100vh;
  background-color: #584d41;
  justify-content: center;
  align-items: center;
}

.signupCard {
  display: flex;
  width: 90%;
  max-width: 1200px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
}

.leftSection {
  width: 50%;
  position: relative;
}

.imageSection {
  width: 100%;
  height: 100%;
  position: relative;
}

.imageSection img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.logoImage {
  padding-top: 300px;
  width: 50%;
  height: 50%;
  object-fit: contain;
  position: relative;
  z-index: 10;
}

.tagline {
  padding-bottom: 350px;
  color: white;
  font-size: 24px;
  text-align: center;
  max-width: 80%;
  font-family: "Montaga", serif;
}

.rightSection {
  width: 50%;
  background-color: white;
  padding: 40px 80px;
}

@media (max-width: 991px) {
  .signupCard {
    flex-direction: column;
  }
  .imageSection {
    width: 100%;
    height: 300px;
  }
  .rightSection {
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .rightSection {
    padding: 20px;
  }
  .tagline {
    font-size: 18px;
  }
}

.createAccount {
  font-size: 32px;
  font-family: "Montaga", serif;
  color: #322e29;
  text-align: left;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #322e29;
  margin-bottom: 8px;
  display: block;
}

.inputContainer {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 50px;
  padding: 10px 20px;
  background: #faf9f8;
  width: 75%;
  box-sizing: border-box;
}

.inputField {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: #807567;
}

.signupButton {
  background-color: #433c33;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 70px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  margin-top: 20px;
}

.signupButton:hover {
  background-color: #322e29;
}

@media (max-width: 991px) {
  .signupContainer {
    flex-direction: column;
  }
  .leftSection {
    width: 100%;
    height: 300px;
  }
  .rightSection {
    width: 90%;
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .rightSection {
    padding: 20px;
  }
  .tagline {
    font-size: 18px;
  }
  .createAccount {
    font-size: 24px;
  }
  .signupButton {
    width: 90%;
  }
}

.loginRedirect {
  margin-top: 15px;
  text-align: center;
}

.loginLink {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.loginLink:hover {
  text-decoration: underline;
}
