.annotationsPage {
    background-color: #e1dfdd;
  }
  .div {
    gap: 20px;
    display: flex;
  }
  @media (width<=991px) {
    .div {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  .column {
    flex-direction: column;
    align-items: stretch;
    width: 25%;
    margin-left: 0;
    line-height: normal;
    display: flex;
  }
  @media (width<=991px) {
    .column {
      width: 100%;
    }
  }
  .sidebar {
    color: #fff;
    background-color: #907e6c;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    width: 100%;
    padding: 17px 1px 406px;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    overflow: hidden;
  }
  @media (width<=991px) {
    .sidebar {
      max-width: 100%;
      padding-bottom: 100px;
    }
  }
  .div2 {
    flex-direction: column;
    width: 261px;
    max-width: 100%;
    margin-left: 20px;
    display: flex;
  }
  @media (width<=991px) {
    .div2 {
      margin-left: 10px;
    }
  }
  .img {
    aspect-ratio: 1.09;
    object-fit: contain;
    object-position: center;
    width: 130px;
    max-width: 100%;
  }
  .regulations {
    align-self: end;
    margin-top: 49px;
  }
  @media (width<=991px) {
    .regulations {
      margin-top: 40px;
    }
  }
  .riskmaps {
    align-self: center;
    margin-top: 79px;
    margin-left: 17px;
  }
  @media (width<=991px) {
    .riskmaps {
      margin-top: 40px;
    }
  }
  .planAnnotations {
    background-color: #584d41;
    margin-top: 39px;
    padding: 40px 70px;
    overflow: hidden;
  }
  @media (width<=991px) {
    .planAnnotations {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .div3 {
    flex-direction: column;
    align-self: center;
    align-items: stretch;
    width: 163px;
    max-width: 100%;
    margin-top: 40px;
    display: flex;
  }
  .about {
    align-self: start;
    margin-top: 79px;
  }
  @media (width<=991px) {
    .about {
      margin-top: 40px;
    }
  }
  .column2 {
    flex-direction: column;
    align-items: stretch;
    width: 75%;
    margin-left: 20px;
    line-height: normal;
    display: flex;
  }
  @media (width<=991px) {
    .column2 {
      width: 100%;
    }
  }
  .div4 {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    display: flex;
  }
  @media (width<=991px) {
    .div4 {
      max-width: 100%;
    }
  }
  .upperbar {
    color: #322e29;
    background-color: #faf9f8;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 40px 100px;
    padding: 35px 37px 35px 80px;
    font-family:
      Rosarivo,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 60px;
    font-weight: 400;
    display: flex;
    overflow: hidden;
  }
  @media (width<=991px) {
    .upperbar {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 40px;
    }
  }
  .annotateproperty {
    flex-grow: 1;
    flex-shrink: 1;
    align-self: start;
    width: 692px;
  }
  @media (width<=991px) {
    .annotateproperty {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .img2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 75px;
  }
  .div5 {
    flex-direction: column;
    align-self: center;
    align-items: stretch;
    width: 1079px;
    max-width: 100%;
    margin-top: 91px;
    display: flex;
  }
  @media (width<=991px) {
    .div5 {
      margin-top: 40px;
    }
  }
  .mapyourproperty {
    color: #322e29;
    align-self: start;
    font-family:
      Tiro Devanagari Hindi,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 36px;
    font-weight: 400;
  }
  .locatebyaddress {
    color: #908e8d;
    background-color: #faf9f8;
    border-radius: 50px;
    flex-wrap: wrap;
    align-self: center;
    align-items: stretch;
    gap: 40px 88px;
    width: 593px;
    max-width: 100%;
    margin-top: 95px;
    padding: 3px 80px 3px 23px;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 26px;
    font-weight: 400;
    display: flex;
    overflow: hidden;
  }
  @media (width<=991px) {
    .locatebyaddress {
      margin-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .img3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 44px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .amInputDontrename {
    border-radius: 8px;
    flex: auto;
    align-self: stretch;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    overflow: hidden;
  }
  .manualselection {
    color: #faf9f8;
    background-color: #433c33;
    border-radius: 50px;
    align-self: center;
    width: 360px;
    max-width: 100%;
    margin-top: 23px;
    padding: 15px 68px 33px;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 26px;
    font-weight: 400;
    overflow: hidden;
  }
  @media (width<=991px) {
    .manualselection {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .mapframe {
    background-color: #fff;
    border-radius: 35px;
    margin-top: 75px;
    overflow: hidden;
  }
  @media (width<=991px) {
    .mapframe {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .img4 {
    aspect-ratio: 2.05;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }
  @media (width<=991px) {
    .img4 {
      max-width: 100%;
    }
  }
  